<div class="container">
  <h1>Tweet Now! 2: Multi-User</h1>

  <% if session[:user_id] %>

   
    <form id='tweet-form'action='/post' method='post'> 
      <textarea name='tweet' form='tweet-form' required></textarea>
      <input type='submit' value='Tweet it!'>
    </form>

      <p>
        <button><a href="/sign_out">Sign Out</a></button>
      </p>
  <% else %>
    <button><a href="/sign_in">Sign In with Twitter</a></button>
  <% end %>
  
</div>
